.background {
  background-image: url("../../img/header_background.png");
  max-height: 700px;
  //background-image: url("../../img/Group 17.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //background-blend-mode: color-burn;
  //background-color: rgba(233, 222, 212, 1);

  //&__substrate {
  //  background-image: url("../../img/Group 17.png");
  //  max-height: 700px;
  //  //background-image: url("../../img/header_background_1.png");
  //  background-size: cover;
  //  background-repeat: no-repeat;
  //  background-position: center;
  //  //background-blend-mode: overlay;
  //  //opacity: 0.1;
  //}
}